django-cleanup==5.2.0
django-crispy-forms==1.13.0
djangorestframework==3.12.4
django-mathfilters
django-environ
django-extensions

django
psycopg2
dj-database-url
gunicorn
whitenoise
django-heroku
pytz
sqlparse
pyyaml